jumbotron {
  margin-top: 20px;
  color: blue;
}
/* .card {
  height: 300px;
  width: 300px;
  border: 2px dotted purple;
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  box-shadow: 10px 10px 10px black;
} */

/* .imagen {
  width: 150px;
  height: auto;
  border-radius: 20px;
  margin: 0 auto;
} */
